
**/node_modules/
**/dist/
**/.angular/
**/out-tsc/
**/coverage/
**/.cache/
**/tmp/


**/.env
**/.env.*
**/config.js
**/config.ts
**/secrets.js


**/*.log
**/npm-debug.log*
**/yarn-error.log*


**/.vscode/
**/.idea/
**/.DS_Store
**/Thumbs.db


**/environment.ts
**/environment.prod.ts
