<div class="d-flex justify-content-center align-items-center"
     style="width: 100vw; height: 100vh;">
  <div class="d-flex justify-content-center align-items-center w-50">
    <table class="table table-striped table-bordered mt-4">
      <thead class="table-dark">
        <tr>
          <th>Task Description</th>
          <th>Task time</th>
          <th>Task category</th>
          <th>Task progress level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ task.description }}</td>
          <td>{{ task.time }}</td>
          <td>{{ task.category }}</td>
          <td>{{ task.progress_level }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>